.details-container {
  padding: .5rem;

  @media screen and (max-width: 768px) {
    padding: .2rem;
    margin-top: 4rem;
  }
}

.details-column {
  padding: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    margin-top: 0rem;
  }
}

.details-row-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;



}

.details-img {
  display: flex;
  justify-content: center;
  flex: 1;


}

.details-carousel {
  width: 100%;
  height: 13rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: block;
  padding: 1rem;

  @media screen and (min-width: 769px) {
    display: none;
  }
}

.carousel-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-dots span {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.72);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1.5px;
}

.carousel-dots .active-dot {
  background-color: #fff;
  width: 10px;
  height: 10px;
}

.leftside-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .3rem;

}

.image-box-one {
  flex: 1;
  aspect-ratio: 4 / 4;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
  max-width: 18.32688rem;
  max-height: 26.64681rem;
  flex-shrink: 0;

}

.rightside-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
}

.mid-img {
  height: 49.7%;
  align-content: center;
  justify-content: center;
}

.vertical-img {
  width: 100%;
  height: 100%;
  max-width: 21.49469rem;
  max-height: 13.14969rem;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.details-house {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;

  @media screen and (max-width: 768px) {
    display: none;
  }

}

.box-container {
  width: 100%;
  max-width: 73rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box-details {
  width: 9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.box-details:first-child {

  width: 11rem;
}

.box-details:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.20);
}

.box-details:last-child {
  border-right: none;
}

.box-details p {
  text-align: center;
  color: #555;
  font-family: Kumbh Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.box-details h4 {
  text-align: center;
  font-size: 1rem;
  margin: .5rem;
  padding: 0;
  font-family: 'Montserrat';
}

.img-box {
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin-top: 10px;
}

.details-icon {
  object-fit: contain;
}

.details-row-second-images {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.div-for-second-row {
  display: flex;
  justify-content: center;
  flex: 1;
}


.image-box-two {
  aspect-ratio: 3 / 5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5rem;

}

.second-big-img {
  width: 100%;
  height: 100%;
  max-width: 14rem;
  max-height: 18.875rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;

}

.details-description-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width:956px) {
    flex-direction: column;
  }

}

.details-description-left {
  width: 100%;
  height: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 2rem;

  @media screen and (max-width: 768px) {
    max-width: 44rem;
    margin-right: 0
  }


}

.details-description-right {
  width: 30%;
  height: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;


  @media screen and (max-width:956px) {
    width: 100%;
    align-self: center;
    margin-top: 0rem;
    align-items: center;
    margin-bottom: 2rem;

    @media screen and (max-width:768px) {
      width: 100%;
      margin-top: 2rem;
      align-items: center;
    }
  }
}

.details-description-left h2 {
  color: #000;
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;

  @media screen and (max-width: 768px) {
    color: #000;
    font-family: Montserrat;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3rem;
  }
}

.short-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 21rem;

  @media screen and (max-width:768px) {
    justify-content: flex-start;

    @media screen and (max-width:468px) {
      justify-content: space-between;
    }
  }



}

.short-info p {
  color: #555;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;


  @media screen and (max-width:768px) {
    color: #555;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.2rem;

    @media screen and (max-width:468px) {
      font-size: 1rem;
    }

  }

}

.divider-info {
  border: .5px solid rgba(85, 85, 85, 0.313);
  height: 2.125rem;
  margin-left: 1rem;
  margin-right: 1rem;

  @media screen and (max-width:768px) {
    border: .5px solid rgba(85, 85, 85, 0.313);
    height: 1.375rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    align-self: center;

  }

}



.description-p-tag p {
  color: #000;
  font-family: Kumbh Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5625rem;

}

.description-logo {
  margin-top: 3rem;

  @media screen and (max-width:768px) {
    display: none;
  }

}


.logo-desc {
  width: 100%;
  height: 100%;
  max-height: 30.6875rem;
  max-width: 15.3rem;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

.description-apartement-info {
  width: 100%;
  max-width: 25.25rem;
  max-height: 26.69463rem;
  flex-shrink: 0;
  background-color: #E9E9E9;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  margin: 0;

  @media screen and (max-width:768px) {
    max-width: 22rem;
    max-height: 22.25rem;
    width: 100%;
  }



}

.apartement-info-container {
  padding: .5rem 1.5rem .5rem 1.5rem;
}

.apartement-info-container h5 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @media screen and (max-width:768px) {
    color: #000;
    font-family: Montserrat;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;

  }

}

.wrap-container-include {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width:768px) {
    display: none;
  }


}

.includes-apartement-two {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 22.354rem;



  @media screen and (min-width:768px) {
    display: none;
  }
}

.includes-apartement-two p {
  color: #000;
  font-family: Kumbh Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.include-item-two {
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
}

.icon-logs-details {

  width: 1.4375rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.includes-box-two {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.includes-apartement {
  width: 100%;
  height: 9rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width:768px) {
    height: 0rem;
  }

}

.includes-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width:768px) {
    display: none;
  }

}

.includes-apartement {
  display: flex;
  justify-content: space-between;
}

.include-item {
  display: grid;
  grid-template-rows: auto auto;



}

.includes-box img {
  object-fit: contain;
  min-width: 1rem;
  min-height: 1rem;
  width: 100%;
  height: 100%;
}

.includes-apartement p {
  font-size: .8rem;
  font-family: 'Montserrat';
}


.row-apartementinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.apartement-info-box {
  width: 45%;


}

.info-p-one {
  color: #000;
  font-family: Kumbh Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: .5rem 0 0 0;

  @media screen and (max-width:768px) {
    color: #000;
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.info-p-two {
  color: #000;
  font-family: Kumbh Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: .5rem 0 0 0;

  @media screen and (max-width:768px) {
    color: #000;
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
}

.apply-btn {
  align-self: center;
  border-radius: 1.875rem;
  background: #E78121;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 10.375rem;
  height: 2.5rem;
  height: 2.9375rem;
  flex-shrink: 0;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: .9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  border: none;


  @media screen and (max-width:768px) {
    width: 9.125rem;
    height: 2.125rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1.5rem;
  }


}

.apply-p {
  color: #000;
  font-family: Kumbh Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;

  @media screen and (max-width:768px) {
    color: #000;
    font-family: Montserrat;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    margin: 0;
    padding-top: 1.5rem;
  }

}


.btn-apply-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}



.starLog {
  width: 0.87938rem;
  height: 0.82206rem;
}